<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Admin Dashboard</title>

</head>

<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <button onclick="location.href='/attendance'">Take Attendance</button>
        <button onclick="location.href='/user_details'">show user details</button>
        <button onclick="location.href='/today_details'">show today details</button>
        <button onclick="location.href='/clear_details'">clear today details</button>
    </div>
</body>

</html>